name: 'rtyler'
title: 'rtyler'
description: 'a moderately technical blog'
tag_page_layout: tag_page
tag_page_dir: tag

paginate: 10
highlighter: 'rouge'
incremental: true
plugins:
  - jekyll-paginate
  - jekyll-include-cache
  - jekyll-seo-tag

collections:
  microblog:
    output: true
    permalink: microblog/:year/:month/:title/

lsi: false
include:
  - '.well-known'
exclude:
  - README.markdown
  - Makefile
  - generate-tags
  - .jekyll-cache

# Used for the RSS feed generator
url: 'https://brokenco.de/'
author: 'R. Tyler Croy'

# Sass
sass:
  style: compressed
  sourcemap: never

# Scopes
defaults:
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"

kramdown:
  input:          GFM
  syntax_highlighter: rouge

  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: false
      start_line: 1

social:
  links:
    - https://hacky.town/@rtyler
    - https://www.github.com/rtyler
