---
layout: default
title: rtyler's blog
---

    <div class="index-content framed">
        <h1 id="hello-there">Howdy!</h1>
        <p>Welcome to my blog where I write about <code>software
            development</code>, cycling, and other random nonsense. This is not
        the only place I write, you can find more words I typed on the <a
            href="https://www.buoyantdata.com/blog/" target="_blank">Buoyant Data blog</a>, <a
            href="https://tech.scribd.com" target="_blank">Scribd tech blog</a>, and <a
            href="https://github.com/rtyler" target="_blank">GitHub</a>.
        </p>
    </div>

  <div class="posts">
      {% for post in paginator.posts %}
      <article class="post on-list">
        <h1 class="post-title">
            <a href="{{ post.url | relative_url }}">{{ post .title }}</a>
        </h1>

        <div class="post-meta">
            <time class="post-date">
                {{ post.date | date_to_string }}
            </time>
            <span class="post-author">{{ post.author }}</span>
        </div>

        <span class="post-tags">
            {% for category in post.tags %}
            <a href="{% capture url %}/tag/{{ category | slugify }}.html{% endcapture %}
            {{ url | relative_url }}">{{category}}</a>
            {% endfor %}
        </span>

        <div class="post-content">
            {{ post.excerpt }}
        </div>

        <div>
            <a class="read-more button" href="{{ post.url | relative_url }}">Read more →</a>
        </div>
      </article>

      {% endfor %}


    <div class="pagination">
  <div class="pagination__buttons">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="button next">
            <span class="button__icon">←</span>
            <span class="button__text">Newer posts</span>
        </a>
      {% endif %}
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="button next">
            <span class="button__text">Older posts</span>
            <span class="button__icon">→</span>
        </a>
      {% endif %}

  </div>
</div>

  </div>

