---
layout: default
title: Home
---
<div class="apache-nav">
    <table style="width: 100%;">
        <tr>
            <td>
                <img src="/images/icons/text.png"/>
                <a href="/about">about.txt</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/icons/folder.png"/>
                blog/
            </td>
        </tr>
        {% if paginator.previous_page %}
        <tr>
            <td>
                <img src="/images/icons/blank.png"/>
                <img src="/images/icons/continued.png"/>
                <a class = "newer paginate-button" href="{{ paginator.previous_page_path | relative_url }}">Newer Posts</a>
            </td>
        </tr>
        {% endif %}
        {% for post in paginator.posts %}
            <tr>
                <td>
                    <img src="/images/icons/blank.png"/>
                    <img src="/images/icons/layout.png"/>
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </td>
                <td>
                    <span style="float:right;">
                    {{ post.date | date_to_string }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        {% if paginator.next_page %}
        <tr>
            <td>
                <img src="/images/icons/blank.png"/>
                <img src="/images/icons/continued.png"/>
                <a class = "older paginate-button" href="{{ paginator.next_page_path | relative_url }}">Older Posts</a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <img src="/images/icons/folder.png"/>
                feeds/
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/icons/blank.png"/>
                <img src="/images/icons/xml.png"/>
                <a href="/atom.xml">atom.xml</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/icons/blank.png"/>
                <img src="/images/icons/xml.png"/>
                <a href="/microblog.xml">microblog.xml</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/icons/blank.png"/>
                <img src="/images/icons/xml.png"/>
                <a href="/podcast-picks.xml">podcast-picks.xml</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/icons/blank.png"/>
                <img src="/images/icons/xml.png"/>
                <a rel="me" href="https://hacky.town/@rtyler">Mastodon</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/icons/comp.gray.png"/>
                <a href="gopher://gopher.brokenco.de/">gopher site</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/images/icons/folder.png"/>
                <a href="/categories">tags/</a>
            </td>
        </tr>
    </table>

    <hr/>
</div>

