---
layout: default
---

<div id="search_results_area">
    <h2>Posts <span id="result_count"></span></h2>
    <ul id="search_results" class="posts">
    </ul>
</div>

<div id="home">
    <h2>Recent Posts</h2>
    <ul class="posts">
        {% for post in paginator.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <!--<p>{{ page.summary }}</p>-->
            <div class="posttags">Tags: {{ post | tags }}</div>
        </li>
        {% endfor %}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/" class="previous">Previous</a>
        {% else %}
            <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
        {% endif %}
    {% endif %}
    <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
    {% if paginator.next_page %}
        <a href="/page{{paginator.next_page}}" class="next ">Next</a>
    {% endif %}
    </div>
</div>

