<html lang="en-US">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="onion-location" content="http://brokencosohcv73p6vohqdz65vnbk5nqjuifjhepcedignejajswinad.onion{{ page.url }}"/>

    <title>
        {% if page.title == "Home" %}
            {{ site.title }} | {{ site.description }}
        {% else %}
            {{ page.title }} | {{ site.title }}
      {% endif %}
    </title>
    <meta name="description" content="
     {% if page.description %}{{ page.description }}
     {% else %}{{ site.description }}
    {% endif %}">

    <link rel="icon" href="{{"assets/favicon.ico" | relative_url }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{"assets/favicon.ico" | relative_url }}" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}">

    <!-- SEO Plugin -->
    {% seo %}

    <!-- Google Analytics -->
    {% if site.data.settings.analytics-id%}
        {%- include analytics.html -%}
    {% endif %}
    <!-- End Google Analytics -->
