/*******************************************************************************
Color
*******************************************************************************/

/* Base page colors */

body {
  background-color: #fff;
  color: #000;
}

h1 .amp, h2 .amp, h3 .amp {
  color: #333;
}

/* Pre-Graublau dimming */
/* h1, h2, h1 a, h2 a, h3 a.entry-title, dl.entry-meta dt { */
/*   color: #333; */
/* } */
h1 a, h2 a, h3 a.entry-title {
  color: #000;
}

/* h1, h2 { */
/*   -webkit-text-fill-color: #333; */
/*   -webkit-text-stroke-color: #999; */
/* } */

/* Links */

a { border-color: #ccc; }

a, pre.email a, pre.lettering a, pre.lyrics a, pre.verse a {
  color: #933;
}

h1 a:hover, h2 a:hover, h3 a.entry-title:hover {
  color: #933;
}

h1 a:hover .amp, h2 a:hover .amp {
  color: #933;
}

pre a {
  color: #ffc;
}

.error {
  background-color: #f00;
  color: #fff;
}

/* Header & Footer */

#footer {
  background-color: #ddd;
  color: #333;
  border-color: #eee;
}

#logo {
  background: transparent url("/images/ted-icon.jpg") top right no-repeat;
}

.subtitle {
  color: #666;
}

/* Basic elements */

hr {
  background: transparent url("/images/hr.png") top center no-repeat;
}

hr.raven {
  background: transparent url("/2004/11/raven.gif") top center no-repeat;
}

.source {
   color: #333;
}

/* button { */
/*   background-color: #66f; */
/*   color: #fff; */
/*   border-right-color: #33c; */
/*   border-bottom-color: #33c; */
/*   border-left-color: #99f; */
/*   border-top-color: #99f; */
/* } */

em, strong {
  background-color: #fffac9;
}

.cloud em, pre em {
  background-color: inherit;
}

ins, em ins, ins em {
  background-color: #dfd;
  border-color: #0a0;
}

.net-gain {
  color: #0a0;
}

del, em del, del em {
  background-color: #fdd;
  border-color: #c00;
}

.net-loss {
  color: #c00;
}

pre, pre code {
  background-color: #000;
  border-color: #111;
  color: #ccc;
}

pre em {
  color: #fff;
}

pre ins {
  background-color: #333;
  color: #fff;
}

pre.email em, pre.lettering em, pre.lyrics em, pre.verse em, pre.artwork em,
pre.email ins, pre.lettering ins, pre.lyrics ins, pre.verse ins, pre.artwork ins {
  background-color: #dfd;
  color: inherit;
}

pre.email, pre.lettering, pre.lyrics, pre.verse {
  background-color: inherit;
  color: inherit;
}

pre.artwork { /* */
  background-color: #ddd;
  color: #222;
}

#elsewhere .network
             .forty-three-things { background: transparent url(/images/services/43things.png) no-repeat left; }
#elsewhere .network .amazon      { background: transparent url(/images/services/amazon.png) no-repeat left; }
#elsewhere .network .bebo        { background: transparent url(/images/services/bebo.png) no-repeat left; }
#elsewhere .network .claimid     { background: transparent url(/images/services/claimid.png) no-repeat left; }
#elsewhere .network .delicious   { background: transparent url(/stream/images/delicious.png) no-repeat left; }
#elsewhere .network .digg        { background: transparent url(/images/services/digg.png) no-repeat left; }
#elsewhere .network .dopplr      { background: transparent url(/stream/images/dopplr.png) no-repeat left; }
#elsewhere .network .emacsen     { background: transparent url(/stream/images/emacsen.png) no-repeat left; }
#elsewhere .network .eventful    { background: transparent url(/stream/images/eventful.png) no-repeat left; }
#elsewhere .network .facebook    { background: transparent url(/stream/images/facebook.png) no-repeat left; }
#elsewhere .network .flickr      { background: transparent url(/stream/images/flickr.png) no-repeat left; }
#elsewhere .network .goodreads   { background: transparent url(/images/services/goodreads.png) no-repeat left; }
#elsewhere .network .google      { background: transparent url(/images/services/google.png) no-repeat left; }
#elsewhere .network .iusethis    { background: transparent url(/images/services/iusethis.png) no-repeat left; }
#elsewhere .network .jyte        { background: transparent url(/images/services/jyte.png) no-repeat left; }
#elsewhere .network .lastfm      { background: transparent url(/images/services/lastfm.png) no-repeat left; }
#elsewhere .network .linkedin    { background: transparent url(/images/services/linkedin.png) no-repeat left; }
#elsewhere .network .lj,
#elsewhere .network .livejournal { background: transparent url(/stream/images/livejournal.png) no-repeat left; }
#elsewhere .network .muxtape     { background: transparent url(/stream/images/muxtape.png) no-repeat left; }
#elsewhere .network .mybloglog   { background: transparent url(/images/services/mybloglog.png) no-repeat left; }
#elsewhere .network .myopenid    { background: transparent url(/images/services/myopenid.png) no-repeat left; }
#elsewhere .network .myspace     { background: transparent url(/images/services/myspace.png) no-repeat left; }
#elsewhere .network .ning        { background: transparent url(/images/services/ning.png) no-repeat left; }
#elsewhere .network .orkut       { background: transparent url(/images/services/orkut.png) no-repeat left; }
#elsewhere .network .pownce      { background: transparent url(/stream/images/pownce.png) no-repeat left; }
#elsewhere .network .reddit      { background: transparent url(/stream/images/reddit.png) no-repeat left; }
#elsewhere .network .scribd      { background: transparent url(/images/services/scribd.png) no-repeat left; }
#elsewhere .network .technorati  { background: transparent url(/images/services/technorati.png) no-repeat left; }
#elsewhere .network .twitter     { background: transparent url(/stream/images/twitter.png) no-repeat left; }
#elsewhere .network .upcoming    { background: transparent url(/images/services/upcoming.png) no-repeat left; }
#elsewhere .network .vox         { background: transparent url(/images/services/vox.png) no-repeat left; }
#elsewhere .network .wordie      { background: transparent url(/stream/images/wordie.png) no-repeat left; }
#elsewhere .network .wordpress   { background: transparent url(/images/services/wordpress.png) no-repeat left; }
#elsewhere .network .yelp        { background: transparent url(/stream/images/yelp.png) no-repeat left; }
#elsewhere .network .youtube     { background: transparent url(/images/services/youtube.png) no-repeat left; }

#latest-entry {
/*   border-color: #ccc; */
/*   background-color: #eee; */
}

/* Basic blog content */

.issue {
  border-color: #f00;
  color: #f00;
}

#home-page .blog-meta,
.hentry .header .author,
.hentry .updated {
  color: #999;
}

.hentry .footer,
.hentry .footer .updated {
  color: #333;
}

.entry-rights, .entry-summary {
  color: #333;
}

p.more {
  color: #333;
}

.figure {
  background-color: #d8d8d8;
  color: #333;
  border-color: #eee;
}

.cutout { /* a cutout is a figure with no background or border */
  background-color: inherit;
  color: inherit;
  border-color: transparent;
}

.aside {
  background-color: #f0ccff;
  border-color: #90c;
}

.halmos {
  background: transparent url("/images/ted-icon-16x16.jpg") bottom left no-repeat;
}

/* Code
 *
 * There are two styles: first, the dark-background ones, and second,
 * the light-background ones.
 */

code                        { color: inherit; }
a code, pre code            { color: inherit; }

code.pathname               { color: inherit; }
.executable,
code.executable             { color: #009900; }

pre code .keyword           { color: #4682b4; }
pre code .type              { color: #3cb371; }
pre code .function          { color: #5f9ea0; }
pre code var,
pre code .variable          { color: #ff6a6a; }
pre code .string            { color: #fffacd; }
pre code .comment           { color: #9932cc; }
pre code .comment-delimiter { color: #ba55d3; }
pre code .doc               { color: #f0e68c; } /* like string */
pre code .docstring         { color: #ba55d3; } /* like comment */
pre code .preprocessor      { color: #f0e68c; }
pre code .constant          { color: #db7093; }
pre code .builtin           { color: #f4a460; }

pre.verse code .keyword,
code .keyword           { color: inherit; }
pre.verse code .type,
code .type              { color: inherit; }
pre.verse code .function,
code .function-name     { color: inherit; }
pre.verse code var,
pre.verse code .variable,
code var,
code .variable          { color: inherit; }
pre.verse code .string,
code .string            { color: inherit; }
pre.verse code .comment,
code .comment           { color: inherit; }
pre.verse code .comment-delimiter,
code .comment-delimiter { color: inherit; }
pre.verse code .doc,
code .doc               { color: inherit; } /* like string */
pre.verse code .docstring,
code .docstring         { color: inherit; } /* like comment */
pre.verse code .preprocessor,
code .preprocessor      { color: inherit; }
pre.verse code .constant,
code .constant          { color: inherit; }
pre.verse code .builtin,
code .builtin           { color: inherit; }

/* For shell listings, IELM, etc. */
pre code .prompt        { color: #933; }

/* Email archive pages */

pre.email .quote {
  color: #c33;
}

pre.email .signature {
  color: #999;
}

/* calendar */

table.calendar caption,
table.calendar td.nonday,
table.calendar th {
  background-color: #eee;
}

table.calendar td {
  background-color: #ccc;
}

/* Comments */

#comments ol li {
  background-color: #fff;
  border-color: #999;
}

#comments ol li.alternate {
  background-color: #ccc;
  border-color: #333;
}

#comments ol li.troll,
.troll .source {
  background-color: #eee;
  border-color: #ddd;
  color: #666;
}

.troll em, .troll strong {
  background-color: #ddd;
  color: #555;
}

#comments ol li.author-comment {
  background-color: #cfc;
  border-color: #363;
}

label, .legalese {
  color: #333;
}

input, textarea {
  border-color: #999;
}

#preview {
  background-color: #eee;
}

#comment-status {
  /* FIXME */
}

/* Flickr badge */

.flickr_badge_image img {
  border-color: black !important;
}

/* Tumblelog */

.tumblelog-page .hentry.alternate,
/* tumblelog tombstones */
ul.tumblelog li.alternate {
  background-color: #f8f8f8;
}

/* Chat logs */

ol.chat li cite,
ol.chat li cite a {
  color: #00f;
}

ol.chat li.alternate cite,
ol.chat li.alternate cite a {
  color: #f00;
}

ol.chat li.third cite,
ol.chat li.third cite a {
  color: #090;
}

/* reviews */

.hreview .figure .adr {
  color: #333;
}

@media print {
  * {
    background-color: inherit;
    border-color: transparent;
    color: #000;
  }

  .aside {
    border-color: #000;
  }
}
