/* Custom faces */

@import url(/fonts/dejavu-family.css);

/* Sizing & line-heights */

body {
  /* http://sam.brown.tc/entry/434/improve-handling-of-kerning-pairs-ligatures-in-latest-browsers */
  text-rendering: optimizeLegibility;
  font-size: 131.25%; /* 21pt, all other numbers are wrong */
}

@media print {
  body {
    font-size: 75%; /* 12pt */
  }
}

#logo {
  font-size: 4.5em; /* 72 pt */
  line-height: 1.167; /* 84pt */

}

/* ELEMENT { */
/*   font-size: 3.75em; /\* 60pt *\/ */
/*   line-height: 1.4; /\* 84pt *\/ */
/* } */

h1, h2 {
  font-size: 3em; /* 48pt */
  line-height: 1.3125;
  /* -webkit-text-stroke-width: 1px; */
}

/* .illuminated { */
/*   font-size: 3em; /\* 48pt *\/ */
/*   line-height: 1; */
/* } */

h3, #comments legend {
  font-size: 2.25em; /* 36pt */
  line-height: 1.167;
  letter-spacing: 0.1ex;
}

h4 {
  font-size: 1.5em; /* 24pt */
  line-height: 1.75;
  letter-spacing: 0.2ex;
}

h5, dl.entry-meta dt {
  font-size: 1.3125em;
  line-height: 2;
  letter-spacing: 0.3ex;
}

h6 {
  font-size: 1.125em;
  line-height: 1.167;
  letter-spacing: 0.4ex;
}

.hentry .footer,
#header .nav, comments li.troll blockquote blockquote, input, address,
#blockquote, dd, dl, dt, li, ol, p, pre, ul, textarea, #preview {
  font-size: 1em; /* 16pt */
  line-height: 1.3125; /* 16pt + 5pt == 21pt */
}

button, hr {
  font-size: 1em;
  line-height: 1;
}

#home-page .blog-meta,
.hentry .header .author, .hentry .header address, .include-link,
#header .nav form input, h1 code, h2 code, h3 code, h4 code,
.hreview .figure .adr, .aside {
  font-size: 0.875em; /* 14pt */
  line-height: 1.5; /* 14pt + 7pt == 21pt */
}

/*
font-size: 0.75em;
*/

sub, sup {
  font-size: 0.625em;
  line-height: 1;
}

#comments li.troll blockquote {
  font-size: 0.625em;
  line-height: 1.05;
}

.cloud {
  font-size: 0.5em;
  line-height: 1;
}

.cloud em {
  font-size: 1.375em;
}

#home-page #header p, #home-page #header h1 {
  font-size: 1em;
  line-height: 1.5;
}

/* Decoration & style */

#home-page #header h1,
table.game .winner,
dfn, pre em {
  font-weight: bold;
}

ins, a {
  text-decoration: none;
}

pre.lyrics .ship,
.chat q,
#header .nav input,
address, cite, dfn, var {
  font-style: normal;
}

.hentry .header address, .hentry .header .author,
pre.lyrics, pre.verse, p.more, #header .nav, .art, .album, .book,
.chat .emote, .chat .emote cite, .chat .emote q, .chat .context,
.court-case, .movie, .poem, .publication, .ship, .tv-show,
[lang]:not([lang^="en"]), ins em, del em {
  font-style: italic;
}

/* hr:after { */
/*   /\* HEAVY EIGHT TEARDROP-SPOKED PROPELLER ASTERISK *\/ */
/*   content: "\274B \274B \274B"; */
/* } */

/* hr.raven:after { */
/*   content: ''; */
/* } */

/* disable auto-quoting of q elements used in chat transcripts
 * (tested in gecko and safari)
 */
ol.chat q:before, ol.chat q:after {
  content: "";
}

#comment-terms li:before {
  content: "\2014\a0";
}

/* Alignment & indentation */

th, td {
  vertical-align: top;
}

.entry-summary, #secondary, #header, h1, h2, h3, h4, h5, h6,
.figure pre, .figure th, .figure td {
  text-align: left;
}

.hentry .footer, .include-link, #comment-status, p.more, .source {
  text-align: right;
}

#footer,
#header .nav, .tumblelog-page .pages, hr, .figure {
  text-align: center;
}

/*
p + p {
  text-indent: 4ex;
}

p.source + p,
.figure p + p.postamble,
.figure p.preamble + p {
  text-indent: 0;
}
*/

/* Families & variants */

/* FIXME: rename lettering to something more appropriate */
.lettering, .personae dt, .finis, dl.entry-meta dt {
  font-variant: small-caps;
}

#home-page #header h1, body, input, textarea, #comments blockquote {
  font-family: "DejaVu Sans", Calibri, "Bitstream Vera Sans", Verdana, sans-serif;
  font-size-adjust: 0.55;
}

#logo, h1, h2, h3, h4, h5, h6, dl.entry-meta dt, #comments legend {
  font-family: "DejaVu Serif Condensed", Cambria, "Bitstream Vera", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size-adjust: none;
}

code, kbd, pre, pre code, samp, .domain-name, .email-address, .hostname,
.ip-adddress, .irc-channel, .media-type, .newsgroup, .nick, .pace,
.pathname, .smilie, .ssid, .uri {
  font-family: "DejaVu Sans Mono", Consolas, "Bitstream Vera Sans Mono", "Andale Mono", "Lucida Console", Monaco, "Courier New", monospace;
  font-size-adjust: 0.55;
}

pre.verse, pre.lyrics, .personae dt, .finis, blockquote, q,
.hentry .header .author, .hentry .header address {
  font-family: "DejaVu Serif", Cambria, "Bitstream Vera", Georgia, "Times New Roman", serif;
  font-size-adjust: none;
}

q {
  font-style: italic;
}

code, kbd, samp, .domain-name, .email-address, .hostname,
.ip-adddress, .irc-channel, .media-type, .newsgroup, .nick, .pace,
.pathname, .smilie, .uri {
  line-height: 1;
}

pre code, pre samp {
  line-height: 1.3125;
}

/* "In heads and titles use the best available ampersand" -- EoTS 5.1.3 */
h1 .amp, h2 .amp, h3 .amp, h4 .amp, h5 .amp, h6 .amp {
  font-family: "Goudy Old Style", "OFL Sorts Mill Goudy", Baskerville,
               "Goudy Bookletter 1911", Palatino, "Book Antiqua", serif;
  font-weight: normal;
  font-style: italic;
}

/* Styling of TeX and LaTeX. */

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.latex sub, .tex sub {
  vertical-align: -0.25em;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

/* Scoreboards */

.scoreboard {
  border-collapse: collapse;
  margin: 0 auto;
  width: auto;
}

.scoreboard th, .scoreboard td {
  padding: 0.25em;
  margin: 0;
}

.scoreboard th {
}

.scoreboard tr.away {
  background: #eee;
  color: #000;
}

.scoreboard tr.home {
  background: #fff;
  color: #000;
}

.scoreboard td.won {
  font-weight: bold;
}

.scoreboard .inning,
.scoreboard .runs,
.scoreboard .hits,
.scoreboard .errors {
  width: 3ex;
  text-align: right;
}

.scoreboard .first-inning,
.scoreboard .runs {
  width: 6ex;
}
