<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="
     {% if page.description %}{{ page.description }}
     {% else %}{{ site.description }}
    {% endif %}">
    <meta name="keywords" content="" />
    <meta name="robots" content="noodp" />
    <link rel="canonical" href="/" />
    <link rel="stylesheet" href="/assets/css/simple.css">
    <link rel="shortcut icon" href="/img/theme-colors/orange.png">
    <link rel="apple-touch-icon" href="/img/theme-colors/orange.png">
<meta property="og:locale" content="en" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{page.title}}">
<meta property="og:description"
                            content="
     {% if page.excerpt %}{{ page.excerpt | strip_html }}
     {% else %}{{ site.description }}
    {% endif %}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="brokenco.de" />
<meta property="og:image" content="/img/favicon/orange.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="627">

<link href="/atom.xml" rel="alternate" type="application/rss+xml" title="rtyler's blog" />

</head>
<body class="orange">

<div class="container headings--one-size center">

  <header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="/">
              /
        </a>
    </div>
  </div>

        <nav class="navigation-menu">
                <ul class="navigation-menu">
        <li><a href="/about">About</a></li>
        <li><a href="/tag">Tags</a></li>
        <li><a rel="me" href="https://hacky.town/@rtyler">Mastodon</a></li>
        <li><a href="/atom.xml">Subscribe</a></li>
        </ul>
        </nav>
</header>

<div class="content">
    {{content}}
</div>

<footer class="footer">
  <div class="footer__inner">
      <div class="copyright">
        <span>© 2026
      </div>
  </div>
</footer>
</div>

</body>
</html>


