---
layout: default
---

<div id="post">
  <span style="float: right;">
        <a
            href="http://twitter.com/share?url={{ site.url }}{{ page.url }}"
          class="twitter-share-button" data-count="horizontal"
          data-via="agentdero">Tweet</a></span>
  <h2>{{ page.title }}</h2>
  {{ content }}
</div>

{% include reddit-this.html %}

<br/>
<br/>

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="comments-block" name="comments">
    {% include disqus-thread.html %}
</div>

<br/>

<div id="tag-cloud">
    {{ site | tag_cloud }}
</div>


{% include twitter.html %}
